.App {
  text-align: center;
}

.Left{
  align-self: flex-start;
}

.Right{
  
  align-self:flex-end;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;  
  align-self: flex-start;
  padding-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s alternate-reverse;
  }
}

.App-body{
  min-height: 75vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
